@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {background-image: linear-gradient(to right, #202022, #878787);
}
main {background-color: #e6e5e5;
      width: 600px;
      padding: 10px;
      margin: auto;
      border-radius: 12px;
      box-shadow: 3px 3px 15px rgba(63, 62, 62);
}
h1 {color: #00747C;
    text-align: center;
    text-shadow: 1px 1px 0px rgb(83, 83, 83);

}
h2 {color: #00747C

}
p {
    text-align: justify;
}